#tag-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

#model-list {
    margin-top: 1rem;
}

.filter-button {
  transition: background-color 200ms, color 200ms;
  background-color: transparent;
  font: inherit;
  cursor: pointer;
  display: inline-block;
  padding: 0 8px;
  color: #717171;
  border: 1px solid #9b9b9b;
  border-radius: 25px;
  font-size: 14px;
  white-space: nowrap;
}

.filter-button:hover {
  background-color: #f3f3f3;
  color: #3a3a3a;
}

.filter-button.is-active {
  background-color: #0085b6;
  border-color: #0085b6;
  color: #fff;
}
