/* Set color scheme to NEST orange */

div.md-header-nav__source a.md-source div.md-source__repository, div.md-source__icon{
  color: #fff;
}
html [data-md-color-primary="orange"] .md-nav--primary .md-nav__title--site {
	background-color: #fff;
}
[data-md-color-primary="orange"] .md-nav__source {
	background-color: #000;
}
[data-md-color-primary="orange"] .md-header, [data-md-color-primary="orange"] .md-hero {
	background-color: #ff6633;
}
.admonition-title::before {
  color: #fff;
}

[data-md-color-primary="orange"] .md-tabs {
	background-color: #ff6633;
}
[data-md-color-primary="orange"] .md-typeset a {
	color: #ff6633;
}
[data-md-color-primary="orange"] .md-nav__link--active, [data-md-color-primary="orange"] .md-nav__link:active {
	color: #ff6633;
}

a.md-tabs__link, a.md-source {
  color: #fff;
}
/* use blue color from index.html */
.md-typeset .admonition, .md-typeset details {
  background-color: #1281B3;
  border-radius: 5px;
  color: white;
  font-size: 1em;
}

.md-typeset .admonition > .admonition-title, .md-typeset .admonition > summary, .md-typeset details > .admonition-title, .md-typeset details > summary {
  background-color: #1281B3;
  color: white;
	border-bottom: none;
}

div.admonition.danger {
   background-color: darkred;
}
.md-typeset .admonition.warning {
 border-left-color: #f63;
}
.md-typeset .admonition.warning > .admonition-title {
  background-color: #fff0;
}
.md-tabs {
	color: #fff;
}

.md-header {
 color: #fff;
}
.md-nav__link:focus, .md-nav__link:hover {
	color: #ff6633;
}

/* Highlight background of code in white so orange does not clash with blue background */

code.xref, a code, a.reference.external, a.reference.internal {
	font-weight: normal;
	color: #f63;
  background-color: #fff;
  border-radius: 2px;
  padding-right: 2px;
  padding-left: 2px;
}

/* Increasing font sizes */

.md-typeset .admonition.warning > .admonition-title,
ul.md-tabs__list li.md-tabs__item a.md-tabs__link {
 color: #fff;
 font-size: 1.0em;
 opacity:0.9;
}
.md-typeset {
	font-size: 1.0em;
}
.md-nav {
	font-size: .9em;
}
.md-typeset .footnote {
	font-size: .8em;
}
.md-container {
  padding-top: 0;
}
.md-typeset .admonition > .admonition-title::before, .md-typeset .admonition > summary::before, 
.md-typeset details > .admonition-title::before, .md-typeset details > summary::before {
	color: #fff;
}

.md-typeset .admonition.attention > .admonition-title::before, .md-typeset .admonition.attention > summary::before, 
.md-typeset .admonition.caution > .admonition-title::before, .md-typeset .admonition.caution > summary::before,
.md-typeset .admonition.warning > .admonition-title::before, .md-typeset .admonition.warning > summary::before,
.md-typeset details.attention > .admonition-title::before, .md-typeset details.attention > summary::before,
.md-typeset details.caution > .admonition-title::before, .md-typeset details.caution > summary::before,
.md-typeset details.warning > .admonition-title::before, .md-typeset details.warning > summary::before {
	color: #fff;
}
.md-typeset table:not([class]) {
	font-size: 0.9em;
}
/* make header (top nav) thicker and increase font size of  */
.md-header {
	height: 2.8em;
}
.md-flex {
  padding-top: 5px
}
.md-search__icon {
	font-size: 1.1em;
}
.md-source__icon + .md-source__repository {
	padding-left: 2em;
}
.md-search__input {
	font-size: .9em;
  height: 2.7em;
}
.md-header-nav__title {
	font-size: 1.1em;
}

.md-source {
	font-size: .95em;
}
.md-source__facts {
	font-size: .75em;
}
.md-source__icon svg {
	width: 1.6em;
	height: 1.6em;
}
/* set the width wider of main content and sidebars */

.md-grid {
	max-width: 92em;
}
.md-sidebar {
   width: 12.2em;
}
.md-sidebar--secondary {
	margin-left: 93em;
  width: 12em;
}
/* set main content section margins wider */
.md-content {
   margin-left: 12.1em;
   margin-right: 12.1em;
}

.md-content__inner {
    margin-left: 2.5em;
    margin-right: 2.5em
}
/* footer size */
.md-footer-nav__title, .md-footer-nav__direction {
	font-size: 1.2em;
}

.md-footer-nav__button {
	font-size: 1.2em;
}
/* set heading size */
.md-typeset h1 {
	margin: 0 0 2rem;
	font-size: 1.6em;
}
.md-typeset h2 {
	font-size: 1.3em;
}
.md-typeset h3 {
	font-size: 1.1em;
}
.md-typeset h4 {
	font-size: 1em;
}
.md-typeset h1 h2 h3 h4 {
   font-weight: 500;
}
/* set opacity andpadding for images,  use in icons */

.md-typeset img, .md-typeset svg {
	opacity: 0.5;
  padding: 5px;
}

.md-source__repository {
	display: inline-block;
	max-width: fit-content;
	margin-left: .6rem;
	font-weight: 700;
	text-overflow: ellipsis;
	overflow: hidden;
	vertical-align: middle;
}
