[flake8]
max-line-length = 120

# PEP 8 recommends limiting docstrings or comments to 72 characters
# [pep8]: https://www.python.org/dev/peps/pep-0008/ PEP-8
max-doc-length = 79

# Set the maximum allowed McCabe complexity value for a block of code.
# This option is provided by the mccabe dependency’s Flake8 plugin.
max-complexity = 10

# disables some rules that conflict with Black‘s formatting.
# see https://linuxbeast.com/blog/how-to-use-flake8-and-black-for-python-code-quality-and-style-consistency/
ignore = E203, W503

#per-file-ignores =
#    src/bennch/plot/plot_page_fault.py:W505,E501
