# git ignore patterns

libltdl/

pynest/pynestkernel.cpp

*.o
*.lo
*.la
.*
*.log
*.pyc

Makefile
!/doc/Makefile

build/
install/

/juqueen/
/extras/nest-config
/extras/create_release.sh
/libnestutil/config.h
/librandom/randomtest
/libtool
/nest/nest
/nest/static_modules.h
/pynest/do_tests.py
/pynest/setup.py
/reports/
/sli/sli
/testsuite/do_tests.sh
/topology/setup.py
/topology/doc/Topology_UserManual.out
/doc/doxygen/
/doc/_build/
/doc/xml/
/doc/auto_examples/

*.kdev4

### IPythonNotebook ###
# Temporary data
.ipynb_checkpoints/
TAGS

### tags and cscope
tags
cscope.out

### CMAKE stuff
cmake_install.cmake
CMakeFiles/
_CPack_Packages/
CMakeCache.txt
CPackConfig.cmake
CPackSourceConfig.cmake

CMakeDoxyfile.in
CMakeDoxygenDefaults.cmake
CTestTestfile.cmake
doc/CTestTestfile.cmake
doc/examples/microcircuit.png
doc/examples/reference_data/
examples/CTestTestfile.cmake
extras/CTestTestfile.cmake
extras/ConnPlotter/CTestTestfile.cmake
lib/CTestTestfile.cmake
libnestutil/CTestTestfile.cmake
librandom/CTestTestfile.cmake
models/CTestTestfile.cmake
nest/CTestTestfile.cmake
nestkernel/CTestTestfile.cmake
precise/CTestTestfile.cmake
pynest/CTestTestfile.cmake
sli/CTestTestfile.cmake
testsuite/CTestTestfile.cmake
testsuite/cpptests/CTestTestfile.cmake
testsuite/mpi_selftests/fail/CTestTestfile.cmake
testsuite/mpi_selftests/pass/CTestTestfile.cmake
testsuite/mpitests/CTestTestfile.cmake
testsuite/musictests/CTestTestfile.cmake
testsuite/regressiontests/CTestTestfile.cmake
testsuite/selftests/CTestTestfile.cmake
testsuite/unittests/CTestTestfile.cmake
topology/CTestTestfile.cmake


# generated files
doc/set_rcsinfo.cmake
doc/fulldoc.conf
doc/normaldoc.conf
doc/userdocs/
doc/pynestkernel_mock.py
doc/from_cpp/
doc/microcircuit/
lib/sli/rcsinfo.sli
extras/nest_vars.sh

pynest/examples/README
