repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: fix-byte-order-marker

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.16.3
    hooks:
      - id: gitleaks

  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: ["--profile", "black", "--thirdparty", "nest"]

  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black
        language_version: python3

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        # explicitly add input files that are not "*.sh"
        args: [
          "bin/nest_vars.sh.in"  # testsuite/do_tests.sh:112 requires this for `. "${PREFIX}/bin/nest_vars.sh"`

        ]

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v17.0.4
    hooks:
      - id: clang-format
        types_or: [c++]

exclude: 'build/.*|thirdparty/.*'
