# Required Python packages to run the NEST testsuite.
#
# This file specifies the required Python packages to run the NEST
# testsuite. It is meant for those who would like to compile NEST
# or build NEST documentation themselves. If you just want to execute
# NEST, you should install NEST directly as described in
# https://www.nest-simulator.org/installation.
#
# The listed requirements are used to build the conda environment defined
# in the environment yaml file. If you want to build an environment
# yourself, e.g., independent of conda, the requirements from this file
# can be installed by
#
#     pip install -r requirements_testing.txt

pytest
pytest-timeout
pytest-xdist
pytest-pylint
pytest-mypy
pytest-cov
data-science-types
terminaltables
pycodestyle
pydocstyle
rstcheck
mypy >= 0.8
junitparser >= 2
clang-format == 17.0.4
attrs
