# Required Python packages to run the NEST testsuite.
#
# This file specifies the required Python packages to run the NEST
# testsuite. It is meant for those who would like to compile NEST
# or build NEST documentation themselves. If you just want to execute
# NEST, you should install NEST directly as described in
# https://www.nest-simulator.org/installation.
#
# The listed requirements are used to build the mamba environment defined
# in the environment yaml file. If you want to build an environment
# yourself, e.g., independent of mamba, the requirements from this file
# can be installed by
#
#     pip install -r requirements_testing.txt
#
# As testing of Python code also requires the modules to be available,
# we also need to install the pynest requirements
-r requirements_pynest.txt
attrs
data-science-types
flake8
junitparser >= 2
mypy >= 0.8
pre-commit
pycodestyle
pydocstyle
pytest
pytest-black
pytest-cov
pytest-flake8
pytest-mypy
pytest-pydocstyle
pytest-pylint
pytest-timeout
pytest-xdist
rstcheck
terminaltables
