<!DOCTYPE html>
    <html>
        <head>
    
        <title>NEST Command Index: $title</title>
        <style type="text/css">
            $css
         </style>
        </head>
        <body>
    <h1>Command: $title</h1>

    <table class="headerfooter">
      <tbody><tr>
        <td width="30%" align="center"><a href="../../index.html">
            NEST HelpDesk</a></td>
        <td width="30%" align="center"><a href="../helpindex.html">
            Command Index</a></td>
        <td width="30%" align="center"><a href="../../quickref.html">
            NEST Quick Reference</a></td>
      </tr>
    </tbody></table>

    <div class="wrap">
    <!-- Begin -->
    $indexbody
    <!-- End -->
    </div>


    <table class="headerfooter">
      <tbody><tr>
        <td width="30%" align="center"><a href="../../index.html">
            NEST HelpDesk</a></td>
        <td width="30%" align="center"><a href="../helpindex.html">
            Command Index</a></td>
        <td width="30%" align="center"><a href="../../quickref.html">
            NEST Quick Reference</a></td>
      </tr>
    </tbody></table>

    $footer

    </body>
</html>