                    </div>
                </div><!-- .entry-content -->
		        <footer class="entry-meta"></footer><!-- .entry-meta -->
            </article><!-- #post -->
        </div><!-- #content -->
	</div><!-- #primary -->
        <div id="secondary" class="widget-area" role="complementary">
            <aside id="advanced_menu-2" class="widget widget_advanced_menu">
                <div class="menu-main-container">
                    <ul id="menu-main-side" class="menu">
                        <li class="menu-item menu-item-type-post_type menu-item-object-page ">
                            <a href="../../">About NEST</a>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page ">
                            <a href="../../download/">Download</a>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page ">
                            <a href="../../features/">Features</a>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children ">
                            <a href="../../documentation/">Documentation</a>
                            <ul class="sub-menu"></ul></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page ">
                            <a href="../../publications/">Publications</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page ">
                            <a href="../../community/">Community</a>
                        </li>
                    </ul>
                </div>
            </aside>
        </div><!-- #secondary -->
        
    </div><!-- #main .wrapper -->

	<footer id="colophon" role="contentinfo">
        <div class="site-info">
	        &copy; 2017 by <a href="https://www.nest-initiative.org/" title="The NEST Initiative">The NEST Initiative</a>
		</div><!-- .site-info -->
        <nav id="second-site-navigation" class="main-navigation" role="navigation">
            <div class="menu-second-menu-container">
                <ul id="menu-second-menu" class="menu">
                    <li class="menu-item menu-item-type-post_type menu-item-object-page ">
                        <a href="../../contributors/">Contributors</a>
                    </li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page ">
                        <a href="../../impressum/">Impressum / Contact</a>
                    </li>
                </ul>
            </div>
        </nav><!-- #second site-navigation -->
    </footer><!-- #colophon -->
</div><!-- #page -->

<a id="scroll-to-top" href="#" title="Scroll to Top">Top</a>
</body>
</html>
