.hoverxtool + .tooltip > .tooltip-inner {
	background-color: #FF6633;
    color: #FFFFFF; 
    border: 1px solid #FDDCD1; 
    padding: 4px;
    font-size: 16px;
    width: auto;
    height: auto;
}

  /* Tooltip on top */
.hoverxtool + .tooltip.top > .tooltip-arrow {
    border-top: 5px solid #FF6633;
    border-radius: 25px;
}

.hoverxtool_highlighter {
	border-bottom:2px dotted #FDDCD1;  
    padding:0.03em 0.15em;
}