[data-md-color-primary="orange"] .md-tabs {
	background-color: #ff6633;
}
[data-md-color-primary="orange"] .md-typeset a {
	color: #ff6633;
}
[data-md-color-primary="orange"] .md-nav__link--active, [data-md-color-primary="orange"] .md-nav__link:active {
	color: #ff6633;
}
a.md-tabs__link, a.md-source {
  color: #fff;
}
.md-typeset .admonition, .md-typeset details {
  background-color: #1281B3;
  border-radius: 5px;
  color: white;
  font-size: 0.9rem;
}

.md-typeset .admonition > .admonition-title, .md-typeset .admonition > summary, .md-typeset details > .admonition-title, .md-typeset details > summary {
  background-color: #1281B3;
  color: white;
	border-bottom: none;
}

div.admonition.danger {
   background-color: darkred;
}
.md-typeset .admonition.warning {
 border-left-color: #f63;
}
.md-typeset .admonition.warning > .admonition-title {
  background-color: None;
}
.md-tabs {
	color: #fff;
}

.md-header {
 color: #fff;
}

.md-container {
  padding-top: 0;
}

.md-nav__link:focus, .md-nav__link:hover {
	color: #ff6633;
}

code.xref, a code, a.reference.external, a.reference.internal {
	font-weight: bold;
	color: #f63;
  background-color: #fff;
  border-radius: 2px;
}

ul.md-tabs__list li.md-tabs__item a.md-tabs__link {
 color: #fff;
font-size: .9rem;
opacity:0.9;
}
.md-typeset {
	font-size: .9rem;
}
.md-nav {
	font-size: .8rem;
}
div.md-header-nav__source a.md-source div.md-source__repository. div.md-source__icon{
  color: #fff;
}
