Image
PyYAML>=4.2b1
breathe
cmake
csvkit
cython
docutils
example
ipykernel
jupyter
matplotlib
mock
nbsphinx
numpy
numpydoc
path.py
pathlib
pygments>=2.6.1
pytest
recommonmark
scipy
seaborn
sphinx-tabs
sphinx>=2
sphinx_autobuild
sphinx_gallery
sphinx_rtd_theme
statsmodels
tqdm
yamllint
