Image
PyYAML>=4.2b1
cmake
csvkit
cython
docutils
example
ipykernel
jupyter
matplotlib
mock
nbsphinx
numpy
numpydoc
path.py
pathlib
pytest
recommonmark
scipy
seaborn
sphinx-tabs
sphinx>=2
sphinx_autobuild
sphinx_gallery
sphinx_rtd_theme
jinja2<3
statsmodels
tqdm
yamllint
