name: Mark stale issues and pull requests

on:
  schedule:
  - cron: '31 8 * * *'

jobs:
  stale:

    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write

    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@cba0d00b1fc9a034e1e642ea0f1103c282990604 # v2.5.0
      with:
        egress-policy: audit

    - uses: actions/stale@98ed4cb500039dbcccf4bd9bedada4d0187f2757 # v3.0.19
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        stale-issue-message: 'Issue automatically marked stale!'
        stale-pr-message: 'Pull request automatically marked stale!'
        stale-issue-label: 'stale'
        stale-pr-label: 'stale'
        days-before-close: -1
